.navbar {
    background-color: #d44040;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
}

.nav-link:hover {
    background-color: #555;
}

